*{
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
}

.blog{
                    width:100%;
                    height: 35rem;
                    margin-top: 1rem;
                    background: #ebf4f5;
}

.blog_course{
                    display: flex;
                    flex-wrap: wrap;
                    width: 1000px;
                    margin: 3rem 10rem;
                    /* justify-content: space-evenly; */
}

#heading_blog{
                    margin-left: 33rem;
}

.blog_course .blog_article
{
                    display: flex;
                    flex-direction: column;
                    width: 300px;
                    background-color: #fff;
                    height: 350px;
                    margin: 0 1rem;
                    box-shadow: 10px 10px 10px rgba(0, 0,0, 0.6);
                    transition: all 0.2s ease-in-out;
}
.blog_course .blog_article:hover
{
                box-shadow: none;
}

.blog_image{
                    width: 100%;
                    height: 50%;
}

.blog_image img{
                    width: 100%;
                    height: 100%;
}

.blog_text{
                    margin:0.8rem 0;
                    display: flex;
                    flex-direction: column;
}
.blog_menu{
                    display: flex;
                    justify-content: center;
                    gap: 1.5rem;
                    font-size: 1rem;
                    font-weight: bold;
}
.blog_menu .blog_icon{
                    color: #1eb2ab;
                    margin-left: -0.8rem;
                    font-size: 15px;

}
 
.blog_content h2{      
          font-size: 1.1rem;
          margin:0.5rem 1rem;

}
.blog_content p{
                    font-size:14px;
                    color: gray;
                    width: 300px;
                    margin: 0.8rem;
}